body{
    background: url(https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2019/02/tienda-animales.jpg) no-repeat center center fixed;
    background-size: cover;
}

.main-section{
    margin:0 auto;
    margin-top:5%;
}
.card{
	opacity: .95;
}
.card-body{
    background-color: #e2e1df;
    box-shadow: 0px 0px 3px #a5a4a2;
}

label{
	font-weight: bold;
}

.nav-tabs .nav-item a:not(.active){
	background-color: #d1d3d6;
}

.nav-tabs{
	border-bottom:0px;
}
.aside {
    justify-content: flex-end;
}
nav.navbar ul li{
    font-size: 28px;
    margin: 20px;
    font-family: 'Happy Monkey', cursive;
    color: black;    
}
nav.navbar a:hover, ul li a:focus {
    color:black;
   }
nav.navbar ul li a:hover, ul li a:focus {
    color:black;
   }
nav.navbar a{
    font-family: 'Happy Monkey', cursive;
}
.contact-us {
    padding: 70px 0px;
    background: #f8f9fad4;
}
.section-title h2 {
    color: #007bff;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 8px;
    border-bottom: 5px solid #007bff;
    padding-bottom: 10px;
    display: inline-block;
}
.section-title p {
    color: #e8e8e8;
    margin-bottom: 30px;
}
.contact-us input,
.contact-us textarea {
    background: #fafafa;
}
.contact-us textarea {
    min-height: 188px;
    max-width: 100%;
}
.contact-us .map {
    overflow: hidden;
    border-radius: 4px;
}
.card-header h4{
    font-family: 'Happy Monkey', cursive;
    color: #007bff;
    font-size: 30px;
}
